.fondo{
background: url(sinti2.jpg) fixed no-repeat;
background-size: cover;
}
.volver{
font-size: 20px;
color: blue;
left: 80%;
}
.menu{
text-decoration: none;
color: black;
font-size: 17px;
}

.titulo{
font-family: Cooper Black;
color: #4F79C3;
font-size: 60px;
}

.mean{
position: absolute;
width: 1200px;
height: 620px;
left: 5%;
background-color: #76FCAF;
}

.ope{
position: absolute;
width: 700px;
height: 370px;
left: 23%;
background-color: #FAF389;
}

.sum{
position: absolute;
width: 1200px;
height: 1700px;
left: 5%;
background-color: pink;
}
.way1{
position: absolute;
width: 1000px;
height: 650px;
left: 9%;
background-color: #FAF389;
}
.way2{
position: absolute;
width: 1000px;
height: 670px;
top: 56%;
left: 9%;
background-color: #FAF389;
}

.prom{
position: absolute;
width: 1200px;
height: 655px;
left: 5%;
background-color: #76FCAF;
}

.cont{
position: absolute;
width: 1200px;
height: 660px;
top: 800%;
left: 5%;
background-color: pink;
}

.otros{
position: absolute;
width: 1200px;
height: 335px;
top: 940%;
left: 5%;
background-color: #FAF389;
}